<!---------------------------------------------------------------------------------------------->

<div class="card text-center">
    <div id="cardBrownShoes" class="card-header">
        <h3 id="titlePaginaWeb" class="lead">Diseñemos tu Página Web</h3>
    </div>

    <!---------------------------------- CARDS   ------------------------------------------------------------>
    
    <div id="cardBrownShoes" class="card-body">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <img id="brownshoesImage"
                        src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Paginas%20%20Web%2FBrownShoes.jpg?alt=media&token=f3681579-5182-4971-9bb5-aaea3a51ce5c"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 id="bottomPaginaWeb">Tener tu propia <span style="color: #F4900E;">Página Web</span>
                        </h4>
                        <h4 id="bottomPaginaWeb">Nunca fue tan Facil</h4>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img id="womanCardImage"
                        src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Paginas%20%20Web%2FWomanCard.jpg?alt=media&token=77df2b00-8df9-4607-ba95-da0da23dd9b1"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 id="bottomPaginaWeb">Trabajemos Juntos!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottomMontuosaImageBar" class="card-footer text-muted">
    </div>
</div>

<!---------------------------------------------------------------------------------------------->

<div id="aumentaVentas" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Aumenta tus Ventas</h1>
        <p class="lead">Tener tu negocio en una Página Web aumenta tus ventas.</p>
    </div>
    <button id="buttonContactanos" type="button" class="btn btn-primary btn-lg "> Contactanos </button>
</div>

<!---------------------------------------------------------------------------------------------->

<div id="socialmedia" class="card mb-3">
    <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2Ffrase.jpg?alt=media&token=a0177e01-f696-4477-93a2-5946758c5d39"
        class="card-img-top" alt="...">
    <div class="card-body">
    </div>
</div>

<!---------------------------------------------------------------------------------------------->