<!---------------------------------------------------------------------------------------------->

<div class="card text-center">
    <div id="header" class="card-header">
        <h3 id="titlePublicidad" class="lead">Diseñemos Tu</h3>
    </div>
</div>

<!---------------------------------------------------------------------------------------------->

<div id="topImage" class="card mb-3">
    <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/CreaTuMarca%2Fmarca.jpg?alt=media&token=ab6280e2-6879-4e5e-b103-3efd35b32f24"
        class="card-img-top" alt="...">
</div>

<!---------------------------------------------------------------------------------------------->

<div class="card text-center">
    <div id="botter" class="card-header">
        <h3 id="textBottomPitcure" class="lead">Impulsemos tu Negocio</h3>
    </div>
</div>

<!---------------------------------------------------------------------------------------------->

<div id="topImage" class="card mb-3">
    <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/CreaTuMarca%2Fmontuosacolors.jpg?alt=media&token=ae732325-12b1-46d4-a4c1-e1e58c0544f0"
        class="card-img-top" alt="...">
</div>

<!---------------------------------------------------------------------------------------------->

<div class="card text-center">
    <div id="botter" class="card-header">
        <p id="textBottomPitcure" class="h1 lead">Crear tu marca incluye los siguientes aspectos</p>
    </div>
</div>

<!---------------------------------------------------------------------------------------------->

<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/CreaTuMarca%2Flogo.jpg?alt=media&token=11c82603-74d8-4fb0-9857-43bdc5fedce0" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Una Buena Imagen</h5>
          <p class="card-text">Tu logotipo sera la primera imprecion de tus clientes. No olvides que sera la menera con la que te reconozcan.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/CreaTuMarca%2Fpublicidad.jpg?alt=media&token=e52e9e94-d728-4759-a898-b10a978530e1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marcketing a tu Nivel</h5>
          <p class="card-text">Una buena estrategia de publicidad aumentara tus clientes asi como tus ingresos</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/CreaTuMarca%2Fpaginawe.jpg?alt=media&token=7afb0111-a837-4636-b687-ce433ea85c30" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Precencia en Internet</h5>
          <p class="card-text">Tu presencia en internet lo es todo. La gente podra encontrarte y conocer tu negocio este donde este.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/CreaTuMarca%2Fcontact.jpg?alt=media&token=c1913d04-3a79-4420-a8b8-2ee6b010cf75" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Contacta a un Experto</h5>
          <p class="card-text">Somos una empresa dedicada a impulsar negocios y llevarlos al maximo nivel para que el mundo te conozca con la ayuda de la tecnologia.</p>
        </div>
      </div>
    </div>
  </div>