<!------------------------------ HEAD TEXT   ---------------------------------------------------------------->

<div class="card text-center">
    <div id="cardBrownShoes">
        <h3 id="titlePaginaWeb" class="lead">Diseñamos tu Logotipo</h3>
    </div>

    <!---------------------------- HEAD IMAGE ------------------------------------------------------------------>

    <div id="topImage" class="card mb-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logotipos%20Page%2Flogos.jpg?alt=media&token=21d10eb9-3cce-4421-a879-b3eaab651ab9"
            class="card-img-top" alt="...">
    </div>

    <!---------------------------- DESCRIPTION    ------------------------------------------------------------------>

    <div id="aumentaVentas" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Un Gran Diseño Aumenta tus Ventas</h1>
        </div>
    </div>

    <!---------------------------------- CARDS   ------------------------------------------------------------>


    <div id="cardsIdentity" class="card-group">
        <div class="card">
            <img id="imagesIdentity"
                src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logos%2Fidentidad.jpg?alt=media&token=dc3358a0-5de1-4208-89c7-0c1e94d8d58f"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">IDENTIDAD</h5>
                <p class="card-text">Perfecciona la Manera que tus Clientes te Posicionan.</p>
            </div>
        </div>
        <div class="card">
            <img id="imagesIdentity"
                src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logos%2Fprofesionalidad.jpg?alt=media&token=4ab3f110-3bf9-48c4-a121-7e18ff1f29ad"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PROFESIONALIDAD</h5>
                <p class="card-text">Aumenta el Exito de tu Empresa con un Gran Diseño de tu Marca.</p>
            </div>
        </div>
        <div class="card">
            <img id="imagesIdentity"
                src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logos%2Fcredibilidad.jpg?alt=media&token=1b5d4a1e-52d1-49b7-b7b1-86f5da7d4ea8"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CREDIBILIDAD</h5>
                <p class="card-text">Gana la Confianza de tus clientes con Increibles Diseños Digitales.</p>
            </div>
        </div>
    </div>

    <!---------------------------------------------------------------------------------------------->


    <div id="aumentaVentas" class="jumbotron jumbotron-fluid">
        <div class="container">
        </div>
        <button id="buttonContactanos" type="button" class="btn btn-primary btn-lg "> Contactanos </button>
    </div>