<!---------------------------------------------------------------------------------------------->

<!--<link rel="stylesheet" href="/montuosa/src/app/Components/home/home.component.css">-->

<!--------------------- HEAD LOGO MONTUOSA------------------------------------------------------------------------->

<div>
  <h3 id="titlePaginaWeb" class="lead"><img
      src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Logos%2Fmontuosalogo.ico?alt=media&token=bcbb0131-9f1f-4cad-bb97-8a38198a5208"
      width="60" height="55" style="margin-top: 13px;" class="d-inline-block align-top" alt="">
    Montuosa</h3>
</div>

<!---------------------------------------------------------------------------------------------->




<div class="jumbotron1">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Páginas Web</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">Aumenta tus ventas así como la accesibilidad de tu negocio y muestrale al mundo tus productos por medio de una página web. Tu presencia digital lo es todo.
        </h1>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FPaginasWeb.jpg?alt=media&token=b0986ccf-a7dc-47da-a5ff-5417387f0ad1"
          class="card-img-top" alt="...">
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Logotipos</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">Tu Logotipo será la primera impresión que tendrán tus clientes de ti. Un buen logotipo generará un gran impacto, y lograra que tus clientes siempre te reconozcan.
        </h1>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FDisenoLogos.jpg?alt=media&token=060e8155-2eee-4eca-a487-60042b5cfcbb"
          class="card-img-top" alt="...">
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crea tu Marca</h5>
        <h1 class="card-text" id="descripcion-crecetunegocio">¿Deseas crear un negocio o mejorarlo y no sabes como tener una presencia digital? ,nosotros podemos ayudarte creando las herramientas necesarias para sobresalir de tus competencias.
        </h1>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2FMarca.jpg?alt=media&token=7f36e463-78dc-43a0-b8f0-ea2df47210e3"
          class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------------------------------------------------->

<div id="description" class="jumbotron">
  <h3 class="display-4 lead">Somos una Empresa Dedicada a Desarrollar Tecnologias Digitales para tu Negocio.</h3>
</div>

<!---------------------------------------------------------------------------------------------->



<!---------------------------------------------------------------------------------------------->

<div  id="socialmedia">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/montuosa-67aac.appspot.com/o/Home%20Page%2Ffrase.jpg?alt=media&token=a0177e01-f696-4477-93a2-5946758c5d39"
    class="card-img-top" alt="...">
  <div class="card-body">
    <h6 id="derechos">Todos los Derechos Reservados</h6>
  </div>
</div>

<!---------------------------------------------------------------------------------------------->